# Backend
planit-backend/node_modules/
planit-backend/.env

# Flutter
final_project_mhs/.dart_tool/
final_project_mhs/.flutter-plugins
final_project_mhs/.flutter-plugins-dependencies
final_project_mhs/build/
final_project_mhs/.packages
